@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------variables---------- */
:root {
  --gradient-color: linear-gradient(
    -162deg,
    #edb6e3 -16.45%,
    #cbf7f8 45.97%,
    rgba(200, 195, 255, 0.975) 96.73%,
    #6c6bd1 128.35%
  );

  --purple: #6c6bd1;
  --light-purple: #c8c3ff;
  --light-purple-1: rgba(200, 195, 255, .5); /* team card bg color */
  --dark-blue: #494882;
  --shadow-purple: #7074a4;
  --dark-blue-shadow: rgba(73, 72,130,0.4); /* should replace navbar colour */

  --button-gradient-color: linear-gradient(270deg, #b8eef4 0%, #c8c3ff 100%);

  --gradient-purple-blue: linear-gradient(
    -162deg,
    #c8c3ff 41%,
    #b8eef4 71%;
  );
}

* {
  scroll-behavior: smooth;
}

/* ----------background gradients---------- */
.mainGradientBackground {
  z-index: 0;
  background: var(--gradient-color);
  mix-blend-mode: normal;
}

/*should replace the main background */
.purpleBlueGradientBackground {
  background: var(--gradient-purple-blue);
}

.navbarGradientBackground {
  background: var(--gradient-color);
  mix-blend-mode: hard-light;
  opacity: 0.8;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* purple -> blue gradients, for buttons like tickets, hamburger/ etc.. */
.buttonGradient {
  background: var(--button-gradient-color);
  /* box-shadow: 0px 4.63636px 4.63636px 11.5909px rgba(255, 255, 255, 0.25), 0px 0px 4.63636px 4.63636px #FFFFFF;
  border-radius: 12.7412px; */
}

.border-gradient-bg {
  background: var(--button-gradient-color);
}

.dashed-border-overlay {
  position: relative;
}

.dashed-border-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px dashed transparent;
  background-clip: padding-box;
  -webkit-mask-image: linear-gradient(#fff, #fff);
  mask-image: linear-gradient(#fff, #fff);
}

/* ----------FONTS---------- */

@font-face {
  font-family: "Bluescreens";
  src: url("/fonts/TT-Bluescreens-Trial-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bluescreens";
  src: url("/fonts/TT-Bluescreens-Trial-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/RobotoCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ----------text styles---------- */
/* purple-text & light-purple-text are headers texts (h3) */
.purpleText {
  font-family: "Bluescreens";
  color: var(--purple);
  text-shadow: 1.5px 1.5px 0px rgba(73, 72, 130, 0.4);
}

.lightPurpleText {
  font-family: "Bluescreens";
  color: var(--light-purple);
  text-shadow: 1.5px 1.5px 0px rgba(73, 72, 130, 0.4);
}

.darkBlueText {
  font-family: "Bluescreens";
  color: var(--dark-blue);
  text-shadow: 1.5px 1.5px 0px rgba(73, 72, 130, 0.4);
}

.whiteText {
  font-family: "Bluescreens";
  color: white;
  text-shadow: 1.5px 1.5px 0px rgba(73, 72, 130, 0.4);
}

/* any text w/ bluescreens font */
.BScreensText {
  font-family: "Bluescreens";
}

/* any text w/ roboto condensed font */
.RobotoText {
  font-family: "Roboto Condensed";
}

.TTBluescreensText {
  font-family: "Bluescreens";
}

/* any <p> text that is dark blue (like in header) */
.textFont {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: var(--dark-blue);
}

.textFontLightPurple {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: var(--light-purple);
}

/* any <p> text that is used for large bodies of text (like in about us section) */
.parText {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: white;
}

.textGradient {
  background: linear-gradient(270deg, #b8eef4 0%, #c8c3ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* ----------bobbing---------- */
@keyframes bobbing {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}

.bobbing-animation {
  animation: bobbing 3.5s ease-in-out infinite;
}

/* ----------bouncing---------- */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(6px);
  }
}

.bouncing-animation {
  animation: bounce 1s ease-in-out infinite;
  box-shadow: 1px 2px 0px rgba(73, 72, 130, 0.4);
}

/* ----------animation delays---------- */

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.opacity-delay {
  transition: opacity 2s ease-in-out;
}

/* Buttons */
.main-button {
  box-shadow: 1.5px 2.5px 0px rgba(73, 72, 130, 0.4);
  border-radius: 10px;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.buttonShadow {
  box-shadow: 0.717352px 1.4347px 0px rgba(73, 72, 130, 0.4);
}

/* Border */
.border-pink {
  border-color: #edb6e3;
}

.border-lightblue {
  border-color: #cbf7f8;
}

.border-lavender {
  border-color: rgba(200, 195, 255, 0.975);
}

.border-deepblue {
  border-color: #6c6bd1;
}
