@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------variables---------- */
:root {
  --gradient-color: linear-gradient(
    -162deg,
  #EDB6E3 -16.45%, 
  #CBF7F8 45.97%, 
  rgba(200, 195, 255, 0.975) 96.73%, 
  #6C6BD1 128.35%
  );
  --purple: #6C6BD1;
  --light-purple: #C8C3FF;
  --dark-blue: #494882;

  --button-gradient-color: linear-gradient(
    270deg,
    #B8EEF4 0%,
    #C8C3FF 100%
  );
}

/* ----------background gradients---------- */
.mainGradientBackground {
  z-index: 0;
  background: var(--gradient-color);
  mix-blend-mode: normal;
}

.navbarGradientBackground {
  background: var(--gradient-color);
  mix-blend-mode: hard-light;
  opacity: 0.8;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* purple -> blue gradients, for buttons like tickets, hamburger/ etc.. */
.buttonGradient {
  background: var(--button-gradient-color);
  /* box-shadow: 0px 4.63636px 4.63636px 11.5909px rgba(255, 255, 255, 0.25), 0px 0px 4.63636px 4.63636px #FFFFFF;
  border-radius: 12.7412px; */
}

/* ----------FONTS---------- */

@font-face {
  font-family: 'Bluescreens';
  src: url('/fonts/TT-Bluescreens-Trial-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bluescreens';
  src: url('/fonts/TT-Bluescreens-Trial-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/RobotoCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ----------text styles---------- */
/* purple-text & light-purple-text are headers texts (h3) */
.purpleText {
  font-family: "Bluescreens";
  color: var(--purple);
  text-shadow: 1.5px 1.5px 0px rgba(73, 72, 130, 0.4);

}

.lightPurpleText {
  font-family: "Bluescreens";
  color: var(--light-purple);
  text-shadow: 1.5px 1.5px 0px rgba(73, 72, 130, 0.4);

}

.darkBlueText {
  font-family: "Bluescreens";
  color: var(--dark-blue);
  text-shadow: 1.5px 1.5px 0px rgba(73, 72, 130, 0.4);

}

/* any text w/ bluescreens font */
.BScreensText {
  font-family: "Bluescreens";
}

/* any text w/ roboto condensed font */
.RobotoText {
  font-family: "Roboto Condensed";
}

/* any <p> text that is dark blue (like in header) */
.textFont {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: var(--dark-blue);
}

/* any <p> text that is used for large bodies of text (like in about us section) */
.parText {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: white;
}

.textGradient {
  background: linear-gradient(270deg, #B8EEF4 0%, #C8C3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* ----------bobbing---------- */
@keyframes bobbing {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {transform: translateY(3px);}
}

.bobbing-animation {
  animation: bobbing 3.5s ease-in-out infinite;
}

/* ----------bouncing---------- */
@keyframes bounce {
  0%, 100% {
      transform: translateY(10px);
  }
  50% {
      transform: translateY(6px);
  }
}

.bouncing-animation {
  animation: bounce 1s ease-in-out infinite;
  box-shadow: 1px 2px 0px rgba(73, 72, 130, 0.4);
}

/* ----------animation delays---------- */

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.opacity-delay {
  transition: opacity 2s ease-in-out;
}

/* Buttons */
.main-button {
  box-shadow: 1.5px 2.5px 0px rgba(73, 72, 130, 0.4);
  border-radius: 10px;
}

.content-container {
  background-color: rgba(255,255,255, 0.4);
  border-radius: 20px;
}